.container{
  padding:10px;
}

.product-item{
  position:relative;
  overflow: hidden;
  border-radius: 15px;
  width:400px;
  height:300px;
  padding:0px;
  cursor: pointer;
}

.product-show{
  width:100%;
  height:100%;

}

.product-show{
  width: 100%;
  height: 100%;
}
.product-show img{
  transition: all .7s ease-in-out; 
}
.product-item:hover .product-show img{
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.product-link{
  outline: 0;
  width: 100%; 
  height:100%;
  border: none;
  position: absolute;
  top:0;
  left: 0;
}

.product-info {
  color:#ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color:rgba(51, 51, 51,0.6);
  opacity: 0;
  width:100%;
  height:100%;
  transition: opacity 0.3s linear;
  padding:20% 25%;
}
.product-info:hover{
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.3s linear;
  opacity: 1;
}


.p-title{
  position:relative;
  font-size:18px;
  letter-spacing: 2px;
}

.p-discount{
  position:relative;
  width:40px;
  padding:5px;
  border:solid 1px;
  border-radius: 5px;
  margin-top:5px;
}

.p-price-original{
  position: relative;
  font-size:18px;
  margin-top:-5px;
  text-decoration:line-through;
}

.p-price-sale{
  background: #D5BD71;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: relative;
  font-weight: normal;
  letter-spacing: 0;
  text-align: center;
  margin-left:15px;
}


.product-info:hover .p-title{
  animation:fade-up .8s ease-out forwards;
  animation-iteration-count:1;
  -webkit-animation:fade-up .8s;
  -webkit-animation-iteration-count:1;
}
.product-info:hover .p-discount{
  animation:fade-up 1s ease-out forwards;
  animation-iteration-count:1;
  -webkit-animation:fade-up 1s;
  -webkit-animation-iteration-count:1;
}
.product-info:hover .p-price-sale,
.product-info:hover .p-price-original{
  animation:fade-up 1.2s ease-out forwards;
  -webkit-animation:fade-up 1.2s;

}



@keyframes fade-up
{ 
  from {top:70px; opacity: 0;}
  to {top:0px; opacity: 1}
}

@-webkit-keyframes fade-up /* Safari and Chrome */
{
  from {top:70px; opacity: 0;}
  to {top:0px; opacity: 1;}
}