body{
  margin:0; padding:0;
  background: rgb(30,30,30) url(http://www.hdwallpapers.in/walls/ios_7_galaxy-wide.jpg) no-repeat;
  background-size:cover;
  color:white;
  font-family: sans-serif;
  text-align:center;
}
.center{
  position:absolute;
  top:50%;
  Left:50%;
  height:500px;
  margin: -250px 0 0 -150px;
}
.content-box{
  margin:0 auto;
  background-color: white;
  display:block;
  padding:50px 0;
  width:300px;
  border-radius:5px;
}
input{
  margin-top:15px;
  padding:8px;
  height:20px;
  width: 200px;
  border-radius:4px;
  border: none;
  background-color: #E6E6FA;
}
button{
  margin-top:15px;
  color: white;
  padding:8px;
  height:35px;
  width: 216px;
  border-radius:4px;
  border: none;
  background-color: #191970;
}
p{
  color: #778899;
  font-size:12px;
}
p>a{
  text-decoration: none;
  color: #191970;
}